# Web Scraping Assignment-2

# Question1

In [1]:
#  scrape data for “Data Analyst” Job position in “Bangalore” location.

In [2]:
# Let's first Install Selenium Library

In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\k k sharma\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\k k sharma\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\k k sharma\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\k k sharma\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\k k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\k k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: outcome in c:\users\k k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\k k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\k k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\k k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\k k sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: pycparser in c:\users\k k sharma\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\k k sharma\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\users\k k sharma\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\k k sharma\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\k k sharma\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\k k sharma\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\k k sharma\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [4]:
 # Let's import all required Libraries

In [5]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [43]:
# Let's first connect to webdriver
driver = webdriver.Chrome(r'C:\Users\K K SHARMA\Downloads\Chromedriver_win32\Chromedriver')

In [44]:
url ='https://www.naukri.com/'
driver.get(url)

In [46]:
# Finding web element for search job bar using id
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [50]:
# write on Search bar
search_job.send_keys("Data Analyst")

In [53]:
# Finding Web Element for search locn bar using Absolute X Path
search_locn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn

In [54]:
# find web element for job location bar
search_locn.send_keys("Bangalore")

In [55]:
# Clicking using absolute X Path function 
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

In [56]:
search_btn.click()

In [57]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div/ul/li[1]')
salary_check.click()

In [58]:
# SCRAPING JOB TITLES

title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [59]:
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="0a8b8d9f-2e83-4a3f-adaf-ae9ea6de5274")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="1d523ae6-8e37-4268-81b9-28abc2b88e52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="992ac0fd-f253-4edc-9b16-3554b5ccefee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="9d3ec6fa-4319-4af7-9f35-dd96d01e3b61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="a62e8f17-5889-4c51-8dfd-09d90c09c8e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="a4041679-c3e1-4722-8deb-8b2b86eb69e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="afe91f77-aadb-40f7-ad4d-d91740edde70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="1131c8f3-3c29-4a60-8e44-2d098d0345d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="199dcf92-80da-457e-94d7-23e94ac67bc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="0935ca78-a161-44a5-bcea-1dd196fc878e")>]

In [60]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Data Analyst',
 'Lead - Data Analyst / Scientist',
 'Senior Data Analyst - KPO',
 'Data Science Analyst',
 'Data Analyst - EdTech',
 'Data Analyst',
 'Data Management Analyst(Python SaaS) (Contractual)',
 'Assistant Manager / Lead / Manager - Data Analyst - KPO',
 'Senior Data Analyst - KPO',
 'Assistant Manager / Lead / Manager - Data Analyst - KPO']

In [61]:
# Extracting Company Names

company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [62]:
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="cea5db3d-4b4f-45cc-8991-1467b0204794")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="42590197-3a04-4efb-8db4-43c2f4e859a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="55ebc2ea-e181-4a71-b1a2-29c1e91a0acb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="59cc776a-ca51-4fd2-904c-629885de093e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="7ce7e17e-e9fc-4971-aa58-8864e6269522")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="d3acc3e9-bf13-499d-8890-b0dd6de73b70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="6d1c4c96-d654-4508-ad8e-5e6af3c5628b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="f8751951-a5be-4e69-a900-0807d4c8ab8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="1e6ba486-fdb9-4ef2-9c10-c40ef0e5d158")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="3c5175fe-afe3-4075-997d-e7b0512211ea")>]

In [63]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [72]:
company_names[0:10]

['Jeeva Organic',
 'Axim Technologies',
 'Huquo Consulting Pvt. Ltd',
 'Perfect Day',
 'TalentStack',
 'WEIWO Communication Pvt. Ltd.',
 'Orcapod Consulting Services Private Limited',
 'Huquo Consulting Pvt. Ltd',
 'Huquo Consulting Pvt. Ltd',
 'Huquo Consulting Pvt. Ltd']

In [65]:
# Extracting Experiance

exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [71]:
experiance = []

for i in exp_tags:
    experiance.append(i.text)
experiance[0:10]

['3-8 Yrs',
 '12-14 Yrs',
 '7-12 Yrs',
 '5-7 Yrs',
 '2-6 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '7-12 Yrs',
 '2-6 Yrs']

In [73]:
# Extracting Location

locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [74]:
locn_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="f8a8f752-a6c6-4ff2-acc4-66d3988b7958")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="bee527db-7139-4d7d-b682-dab722d06e02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="0527483f-4163-4234-a437-31d20cef68cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="aec1ea23-3c52-4a9c-97ac-c18cdf14339a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="0a166636-2684-4afb-b89a-577e2a9683cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="5a79cdc2-cab0-4d8f-9709-1addf39f5fb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="1b5901d1-6149-4e8f-a8d8-077ee81250c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="431ea2f0-61f7-4b85-a299-c702bd620025")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="3932c233-d543-4608-b0c9-e46adab8ca78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0012e8b465f2d1e2314d7f7f8268e33", element="87ea8785-639b-42f3-8a48-2f6ced3838a2")>]

In [75]:
location = []

for i in locn_tags:
    location.append(i.text)
len(location)

20

In [76]:
len(job_titles), len(company_names), len(experiance), len(location)

(20, 20, 20, 20)

In [79]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_names
jobs['experiance'] = experiance
jobs['Location'] = location
jobs

,Job Title,Company,experiance,Location
0,Data Analyst,Jeeva Organic,3-8 Yrs,Bangalore/Bengaluru
1,Lead - Data Analyst / Scientist,Axim Technologies,12-14 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst - KPO,Huquo Consulting Pvt. Ltd,7-12 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
3,Data Science Analyst,Perfect Day,5-7 Yrs,Bangalore/Bengaluru
4,Data Analyst - EdTech,TalentStack,2-6 Yrs,Bangalore/Bengaluru
5,Data Analyst,WEIWO Communication Pvt. Ltd.,2-7 Yrs,Bangalore/Bengaluru(Ulsoor)
6,Data Management Analyst(Python SaaS) (Contract...,Orcapod Consulting Services Private Limited,2-6 Yrs,Remote
7,Assistant Manager / Lead / Manager - Data Anal...,Huquo Consulting Pvt. Ltd,2-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
8,Senior Data Analyst - KPO,Huquo Consulting Pvt. Ltd,7-12 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
9,Assistant Manager / Lead / Manager - Data Anal...,Huquo Consulting Pvt. Ltd,2-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
10,Assistant Manager/Lead/Manager - Data Analyst ...,Huquo Consulting Pvt. Ltd,2-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
11,Data Analyst,ACZ Global Private Limited,2-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Bangalore/Ben..."
12,HR Data Analyst,WEIWO Communication Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru(Ulsoor)
13,Lead Data Analyst,Nike India,1-6 Yrs,Bangalore/Bengaluru
14,Data Analyst,Snaphunt,0-2 Yrs,Bangalore/Bengaluru
15,Data Visualization Analyst - PowerBI/ Tableau,Pharmaceutical Product Development,4-6 Yrs,Bangalore/Bengaluru
16,Data Analyst,Flipkart,1-2 Yrs,Bengaluru/Bangalore
17,Data Analyst,Venuestring Events Management Pvt Ltd,1-2 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
18,Senior Data Analyst,Glance,1-6 Yrs,Bangalore/Bengaluru
19,Senior Data Analyst,Glance IT Solution,1-6 Yrs,Bangalore/Bengaluru

# Question2

In [80]:
# scrape data for “Data Scientist” Job position in “Bangalore” location.

In [81]:
# Let's import all required Libraries

In [82]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [92]:
# Let's first connect to webdriver
driver = webdriver.Chrome(r'C:\Users\K K SHARMA\Downloads\Chromedriver_win32\Chromedriver')

In [93]:
url ='https://www.naukri.com/'
driver.get(url)

In [94]:
# Finding web element for search job bar using id
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [95]:
# write on Search bar
search_job.send_keys("Data Scientist")

In [96]:
# Finding Web Element for search locn bar using Absolute X Path
search_locn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn

In [97]:
# find web element for job location bar
search_locn.send_keys("Bangalore")

In [98]:
# Clicking using absolute X Path function 
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

In [99]:
search_btn.click()

In [100]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div[1]/ul/li[2]')
salary_check.click()

In [101]:
# SCRAPING JOB TITLES

title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [102]:
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="9269e471-51af-4a6d-979a-de52d021fc40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="e6da206f-60b5-4626-a5ed-bc350673a9b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="9621b9b7-5d13-419b-a835-f784a7aa030a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="5b2efa92-bd44-4757-9839-26106ea28608")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="d569479e-a7f1-41aa-828f-880d9ec446ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="5a3cb2c0-9183-47f6-a74f-f8a62dc37ff7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="fcc3c68c-ee8d-4f94-a332-c12a56ba829d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="9c77f57a-e712-47fd-bfaf-0b55e291c786")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="48fe387f-ea3f-4f2a-9e5f-7acd49255384")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="9cf2f6db-faad-45e0-ad08-c99bf71f204f")>]

In [103]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Global Tax Automation & Operations | Data Scientist Senior Analyst',
 'Job opening with Wipro For Data Scientist',
 'Azure ML Data Scientist',
 'Senior Data Scientist',
 'Senior Risk Data Scientist',
 'Data Scientist - Enterprise Platforms',
 'Senior Data Scientist',
 'Openings For Jr/mid/Sr level data Scientists',
 'Data Scientist',
 'Senior Data Scientist']

In [104]:
# Extracting Company Names

company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [105]:
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="5c6fb656-be65-47e3-9ec0-f6579ea6a613")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="7e14b353-5722-441d-90e1-c07d1033b8cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="7244f629-d0d6-4771-9015-cceebbb5e9d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="0736b5ac-71e9-4a88-8f9e-8ea0f132ece8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="2760bd42-a199-40e1-87b9-1b2a59fc99be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="b8804d0d-12da-4c4d-a087-789453c91a2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="3321bc51-e055-44bd-8f75-79a76937ddfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="822da173-0de9-4853-aa48-86a4f6da5ef1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="2c2a28b1-f2d0-4bc8-bace-5f72261f8f05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="93227c40-8223-4fae-b856-77eb7c570b07")>]

In [106]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [107]:
company_names[0:10]

['Dell',
 'Wipro',
 'TCS',
 'Greenizon Agritech Consultancy',
 'GSK India',
 'Kyndryl',
 'SIBIA Analytics and Consulting Services Pvt Ltd',
 'Pluto seven business solutions (p) limited',
 'RPA Labs',
 'Eclinicalworks India Pvt Ltd']

In [108]:
# Extracting Location

locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [109]:
locn_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="6323c57e-2103-4623-a238-93473625163e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="f939841a-59f3-416c-a489-6c0eadbd1c2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="10164c75-14fe-4357-9738-4d82ade4aa1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="fe185284-f414-4394-a519-0b98a6e31102")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="cc7ee52e-e8e4-4b42-b48f-b98d0ba46a08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="391c2bdc-eb60-4413-aed2-8f172ee7a619")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="8f972a76-41b1-4577-b4e4-53eff301d77e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="68546d77-5e5d-4b1d-8a47-92c8d4568649")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="c0d839d9-e56c-45dc-8332-168f7a33655a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab78f599fd2dd6a09d907edf761cb2ac", element="fc0f50e0-1696-4684-ad82-75db21f94be4")>]

In [110]:
location = []

for i in locn_tags:
    location.append(i.text)
len(location)

20

In [111]:
len(job_titles), len(company_names), len(location)

(20, 20, 20)

In [112]:
# Making Data Frame

jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_names
jobs['experiance'] = experiance
jobs['Location'] = location
jobs

,Job Title,Company,experiance,Location
0,Global Tax Automation & Operations | Data Scie...,Dell,3-8 Yrs,Bangalore/Bengaluru
1,Job opening with Wipro For Data Scientist,Wipro,12-14 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
2,Azure ML Data Scientist,TCS,7-12 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
3,Senior Data Scientist,Greenizon Agritech Consultancy,5-7 Yrs,Bangalore/Bengaluru
4,Senior Risk Data Scientist,GSK India,2-6 Yrs,Bangalore/Bengaluru
5,Data Scientist - Enterprise Platforms,Kyndryl,2-7 Yrs,Bangalore/Bengaluru
6,Senior Data Scientist,SIBIA Analytics and Consulting Services Pvt Ltd,2-6 Yrs,"Kolkata, Bangalore/Bengaluru, Mumbai (All Area..."
7,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,2-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
8,Data Scientist,RPA Labs,7-12 Yrs,Bangalore/Bengaluru
9,Senior Data Scientist,Eclinicalworks India Pvt Ltd,2-6 Yrs,Bangalore/Bengaluru(Mahadevpura)
10,Data Scientist II,Groupon Shared Services,2-6 Yrs,Bangalore/Bengaluru
11,Data Scientist and Machine Learning Expert,Genpact,2-6 Yrs,Bangalore/Bengaluru
12,Data Scientist role,Mount Talent Consulting Private Limited,3-6 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
13,Data Scientist role,Mount Talent Consulting Private Limited,1-6 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
14,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,0-2 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
15,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,4-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
16,Junior Data Scientist,HAPPYMONK AI LABS PRIVATE LIMITED,1-2 Yrs,Bangalore/Bengaluru
17,Data Scientist,Mobiotics IT Solution Pvt Ltd,1-2 Yrs,Bangalore/Bengaluru(HSR Layout)
18,Data Scientist - Machine Learning and NLP with...,OpsMx,1-6 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru\n(..."
19,Data scientist (WFH),SPM HR SOLUTIONS,1-6 Yrs,Bangalore/Bengaluru

# Question3

In [113]:
# scrape data for “Data Scientist” Job position in “Bangalore” location Using Filters

In [115]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [121]:
# Let's first connect to webdriver
driver = webdriver.Chrome(r'C:\Users\K K SHARMA\Downloads\Chromedriver_win32\Chromedriver')

In [122]:
url ='https://www.naukri.com/'
driver.get(url)

In [123]:
# Finding web element for search job bar using id
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [124]:
# write on Search bar
search_job.send_keys("Data Scientist")

In [125]:
# Finding Web Element for search locn bar using Absolute X Path
search_locn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn

In [126]:
# find web element for job location bar
search_locn.send_keys("Delhi/NCR")

In [127]:
# Clicking using absolute X Path function 
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

In [128]:
search_btn.click()

In [165]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div[1]/ul/li[2]')
salary_check.click()

In [131]:
# SCRAPING JOB TITLES

title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="078fed005ef71ff28c96ce28172a3639", element="c595c1f6-9762-4014-a258-b8b6d85caf47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="078fed005ef71ff28c96ce28172a3639", element="0a59eb0b-caa2-4fb7-b2f7-06a6280ee755")>,
 <selenium.webdriver.remote.webelement.WebElement (session="078fed005ef71ff28c96ce28172a3639", element="43bb61d4-c90c-42e5-b082-f118fea85d7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="078fed005ef71ff28c96ce28172a3639", element="3b168f5b-9929-4583-a0ef-23d4280af7d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="078fed005ef71ff28c96ce28172a3639", element="b9978694-9a8b-4bc6-b05b-0c13ab131f25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="078fed005ef71ff28c96ce28172a3639", element="73cd4172-3fca-4433-ae44-21356a323a86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="078fed005ef71ff28c96ce28172a3639", element="56affe1a-f1bf-4c0f-b8c2-ce05f99fb99e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="078fed005ef71ff28c96ce28172a3639", element="37056dde-4a6d-4d2e-ad61-a6fd0ecf27d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="078fed005ef71ff28c96ce28172a3639", element="0c51cb78-d995-479a-8d1f-62ece2e92326")>,
 <selenium.webdriver.remote.webelement.WebElement (session="078fed005ef71ff28c96ce28172a3639", element="5bd4dfe7-2998-4e2a-b1dd-7aa62c6356f1")>]

In [132]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Senior Data Scientist I',
 'Openings For Jr/mid/Sr level data Scientists',
 'Data Scientist role',
 'Data Scientist role',
 'Urgent Hiring For Data Scientist',
 'Urgent Hiring For Data Scientist',
 'Data Scientist',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist Internship',
 'Data Scientist']

In [155]:
# Extracting Company Names

company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [156]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [157]:
company_names[0:10]

['Delhivery',
 'Pluto seven business solutions (p) limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Teleperformance',
 'GABA Consultancy services',
 'iHackers Inc',
 'LG']

In [158]:
# Extracting Experiance

exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [159]:
experiance = []

for i in exp_tags:
    experiance.append(i.text)
experiance[0:10]

['3-7 Yrs',
 '2-6 Yrs',
 '1-3 Yrs',
 '1-3 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '4-9 Yrs',
 '0-0 Yrs',
 '0-1 Yrs',
 '0-2 Yrs']

In [161]:
# Extracting Location

locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [162]:
location = []

for i in locn_tags:
    location.append(i.text)
len(location)

20

In [163]:
len(job_titles), len(company_names), len(experiance), len(location)

(20, 20, 20, 20)

In [164]:
# Making DataFrame

jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_names
jobs['experiance'] = experiance
jobs['Location'] = location
jobs

,Job Title,Company,experiance,Location
0,Senior Data Scientist I,Delhivery,3-7 Yrs,Gurgaon/Gurugram
1,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,2-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
2,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
3,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
4,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
5,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
6,Data Scientist,Teleperformance,4-9 Yrs,"Gurgaon/Gurugram, Chennai"
7,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
8,Data Scientist Internship,iHackers Inc,0-1 Yrs,New Delhi
9,Data Scientist,LG,0-2 Yrs,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,..."
10,Senior Data Scientist,iNICU,1-5 Yrs,Delhi
11,Data Scientist,Boston Consulting Group,2-5 Yrs,New Delhi
12,Data Scientist,BlackBuck,3-7 Yrs,"Gurgaon, Bengaluru"
13,Data Scientist,Country Veggie,1-3 Yrs,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu..."
14,Data Scientist,Sentieo,2-7 Yrs,Delhi
15,Data Scientist,Mahajan Imaging,2-6 Yrs,Delhi
16,Data Scientist,Mahajan Imaging,2-6 Yrs,Delhi
17,Associate Data Scientist,Right Step Consulting,3-6 Yrs,Noida
18,Associate Data Scientist,Blow Trumpet Solutions,1-5 Yrs,Delhi
19,Data Scientist,ApplyBoard,3-7 Yrs,Gurgaon/Gurugram

# Question4

In [166]:
# Scrape data of first 100 sunglasses listings on flipkart.com

In [3]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Let's first connect to webdriver
driver = webdriver.Chrome(r'C:\Users\K K SHARMA\Downloads\Chromedriver_win32\Chromedriver')

In [6]:
url ='https://www.flipkart.com/'
driver.get(url)

In [8]:
# Finding web element for search sunglasses bar using id
search_sunglasses = driver.find_element_by_class_name("_3704LK")
search_sunglasses

In [9]:
# write on Search bar
search_sunglasses.send_keys("Sunglasses")

In [13]:
# Clicking using absolute X Path function 
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [14]:
search_btn.click()

In [33]:
# Extracting Brand Name
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

40

In [34]:
brand_names = []

for i in brand_tags:
    brand_names.append(i.text)
len(brand_names)

40

In [35]:
brand_names[0:100]

['hipe',
 'PIRASO',
 'SRPM',
 'Elligator',
 'kingsunglasses',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'New Specs',
 'Fastrack',
 'kingsunglasses',
 'PIRASO',
 'Johaena',
 'PIRASO',
 'ROZZETTA CRAFT',
 'hipe',
 'PIRASO',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'PIRASO',
 'New Specs',
 'ROYAL SON',
 'Rich Club',
 'PIRASO',
 'Lee Topper',
 'PHENOMENAL',
 'PHENOMENAL',
 'PIRASO',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'PIRASO',
 'agera',
 'ROYAL SON',
 'Fastrack',
 'AISLIN',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'Elligator',
 'PIRASO']

In [42]:
# Extracting Product Description

description_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(description_tags)

40

In [43]:
description_prd = []

for i in description_tags:
    description_prd.append(i.text)
len(description_prd)

40

In [45]:
description_prd[0:100]

['Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Mirrored Aviator Sunglasses (32)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Aviator Sunglasses (54)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)']

In [50]:
# Extracting Price

price_tags = driver.find_elements_by_xpath('//div[@class="_3I9_wc"]')
len(price_tags)

40

In [51]:
brand_price = []

for i in price_tags:
    brand_price.append(i.text)
len(brand_price)

40

In [52]:
brand_price[0:100]

['₹1,466',
 '₹1,599',
 '₹1,299',
 '₹2,495',
 '₹999',
 '₹1,599',
 '₹1,699',
 '₹1,599',
 '₹1,999',
 '₹899',
 '₹1,999',
 '₹2,599',
 '₹1,199',
 '₹1,599',
 '₹2,225',
 '₹1,899',
 '₹1,599',
 '₹1,999',
 '₹1,699',
 '₹1,599',
 '₹1,599',
 '₹1,499',
 '₹499',
 '₹1,599',
 '₹2,499',
 '₹1,999',
 '₹1,999',
 '₹2,999',
 '₹1,599',
 '₹999',
 '₹1,699',
 '₹1,599',
 '₹1,149',
 '₹1,499',
 '₹899',
 '₹1,525',
 '₹1,999',
 '₹1,599',
 '₹1,299',
 '₹2,599']

In [53]:
len(brand_names), len(description_prd), len(brand_price)

(40, 40, 40)

In [54]:
# Making DataFrame

sunglasses = pd.DataFrame()
sunglasses['Brand Name'] = brand_names
sunglasses['Description'] = description_prd
sunglasses['Price'] = brand_price
sunglasses

,Brand Name,Description,Price
0,hipe,"Mirrored, UV Protection, Gradient Round Sungla...","₹1,466"
1,PIRASO,UV Protection Aviator Sunglasses (55),"₹1,599"
2,SRPM,UV Protection Wayfarer Sunglasses (56),"₹1,299"
3,Elligator,UV Protection Round Sunglasses (54),"₹2,495"
4,kingsunglasses,UV Protection Round Sunglasses (54),₹999
5,PIRASO,UV Protection Aviator Sunglasses (54),"₹1,599"
6,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...","₹1,699"
7,PIRASO,UV Protection Aviator Sunglasses (Free Size),"₹1,599"
8,New Specs,UV Protection Rectangular Sunglasses (Free Size),"₹1,999"
9,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹899
10,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)","₹1,999"
11,PIRASO,UV Protection Aviator Sunglasses (58),"₹2,599"
12,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...","₹1,199"
13,PIRASO,UV Protection Wayfarer Sunglasses (32),"₹1,599"
14,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),"₹2,225"
15,hipe,UV Protection Sports Sunglasses (Free Size),"₹1,899"
16,PIRASO,UV Protection Aviator Sunglasses (54),"₹1,599"
17,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...","₹1,999"
18,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...","₹1,699"
19,PIRASO,Mirrored Aviator Sunglasses (32),"₹1,599"
20,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...","₹1,599"
21,ROYAL SON,Mirrored Aviator Sunglasses (55),"₹1,499"
22,Rich Club,Polarized Round Sunglasses (48),₹499
23,PIRASO,UV Protection Aviator Sunglasses (54),"₹1,599"
24,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...","₹2,499"
25,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),"₹1,999"
26,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...","₹1,999"
27,PIRASO,"UV Protection Rectangular, Over-sized Sunglass...","₹2,999"
28,PIRASO,UV Protection Aviator Sunglasses (54),"₹1,599"
29,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹999
30,kingsunglasses,"UV Protection, Night Vision Wayfarer Sunglasse...","₹1,699"
31,PIRASO,UV Protection Aviator Sunglasses (Free Size),"₹1,599"
32,agera,Gradient Aviator Sunglasses (55),"₹1,149"
33,ROYAL SON,Mirrored Aviator Sunglasses (55),"₹1,499"
34,Fastrack,UV Protection Shield Sunglasses (Free Size),₹899
35,AISLIN,"UV Protection, Gradient Butterfly, Wayfarer Su...","₹1,525"
36,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...","₹1,999"
37,kingsunglasses,UV Protection Round Sunglasses (Free Size),"₹1,599"
38,Elligator,UV Protection Round Sunglasses (54),"₹1,299"
39,PIRASO,UV Protection Aviator Sunglasses (58),"₹2,599"

# Question5

In [55]:
# Scrape 100 reviews data from flipkart.com for iphone11 phone

In [56]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [57]:
# Let's first connect to webdriver
driver = webdriver.Chrome(r'C:\Users\K K SHARMA\Downloads\Chromedriver_win32\Chromedriver')

In [184]:
url ='https://www.flipkart.com/apple-iphone-11-pro-max-space-grey-64-gb/p/itme0101031155f8?pid=MOBFKCTSKDMKCGQS&lid=LSTMOBFKCTSKDMKCGQSD5DKJQ&marketplace=FLIPKART&q=i+phone11iphone11&store=search.flipkart.com&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=7a78430f-f4f3-4693-bd45-e6aecc1bf002.MOBFKCTSKDMKCGQS.SEARCH&ppt=sp&ppn=sp&ssid=v4k53vm8680000001641627731199&qH=1499addbaad36642'
driver.get(url)

In [185]:
# Finding web element for search iphone11 bar using id
search_phone = driver.find_element_by_xpath('//a[@class="s1Q9rs"]')
search_phone

In [186]:
# write on Search bar
search_phone.send_keys("iphone11")

In [187]:
# Clicking using absolute X Path function 
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn

In [188]:
search_btn.click()

In [193]:
# Extracting Product Name

brand_tags = driver.find_elements_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/h1/span')
len(brand_tags)

1

In [194]:
brand_tags[0:1]

In [195]:
brand_names = []

for i in brand_tags:
    brand_names.append(i.text)
len(brand_names)

1

In [196]:
brand_names[0:1]

['APPLE iPhone 11 Pro Max (Space Grey, 64 GB)']

In [198]:
# Extracting Product Review

prd_review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(prd_review)

10

In [199]:
brand_review = []

for i in prd_review:
    brand_review.append(i.text)
len(brand_review)

10

In [200]:
brand_review[0:10]

["impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days with hevy used\nCamera also like Apple Quality best ever",
 'Great purchase, happily upgraded to iPhone 11 pro max and I’m quite satisfied with the performance of the phone :))',
 'Superb Apple IPhones 11 pro max i love it. Faster performance, awesome camera. Battery life good.\nApple for life',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [201]:
len(brand_names), len(brand_review)

(1, 10)

In [205]:
# Extracting Ratings
prd_ratings = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(prd_ratings)

10

In [206]:
brand_ratings = []

for i in prd_ratings:
    brand_ratings.append(i.text)
len(brand_ratings)

10

In [207]:
brand_ratings[0:1]

['4']

In [208]:
# Makings DataFrame

iphone11 = pd.DataFrame()
iphone11['Brand Review'] = brand_review
iphone11['Brand Ratings'] = brand_ratings
iphone11

                                        Brand Review Brand Ratings
0  impressively Nice......\nOne of the greatest i...             4
1  Great purchase, happily upgraded to iPhone 11 ...             5
2  Superb Apple IPhones 11 pro max i love it. Fas...             5
3
4
5
6
7
8
9

# Question6

In [209]:
# Scrape data for first 100 sneakers you find when you visit flipkart.com

In [6]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [7]:
# Let's first connect to webdriver
driver = webdriver.Chrome(r'C:\Users\K K SHARMA\Downloads\Chromedriver_win32\Chromedriver')

In [8]:
url ='https://www.flipkart.com/'
driver.get(url)

In [12]:
# Finding web element for search Sneakers bar using id
search_phone = driver.find_element_by_class_name("_3704LK")
search_phone

In [13]:
# write on Search bar
search_phone.send_keys("sneakers")

In [15]:
# Clicking using absolute X Path function 
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn

In [16]:
search_btn.click()

In [17]:
#creating the empty list
brand=[]
description=[]
price=[]

start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)
        
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [18]:
#creating a dataframe
import pandas as pd 
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100]})
#printing dataframe
df

,Brand,Description,Price
0,Echor,Echor Men's Sneakers Fashion Lightweight Runni...,₹569
1,Echor,Men's Sneakers Fashion Lightweight Running Sho...,₹569
2,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹449
3,URBANBOX,Modern & Trendy Collection Combo Pack of 02 Sh...,₹247
4,BRUTON,Sneakers For Men,₹447
...,...,...,...
95,Brothers Gift,Softride Enzo NXT Sneakers For Men,₹449
96,BIRDE,Men's Canvas Low Top Sneakers Lace-up Classic ...,₹892
97,World Wear Footwear,casual for men Sneakers For Men,₹259
98,BIRDE,Sneakers For Men,₹525
99,Brothers Gift,Casual shoes Sneakers For Men,₹449

# Question7

In [19]:
# scrape First 100 shoes data from - https://www.myntra.com/shoes

In [20]:
# Let's first connect to webdriver
driver = webdriver.Chrome(r'C:\Users\K K SHARMA\Downloads\Chromedriver_win32\Chromedriver')

In [21]:
url ='https://www.myntra.com/shoes'
driver.get(url)

In [22]:
# Finding web element for search sunglasses bar using id
search_shoes = driver.find_element_by_class_name("desktop-searchBar")
search_shoes

In [23]:
# write on Search bar
search_shoes.send_keys("shoes")

In [24]:
# Clicking using absolute X Path function 
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div/header/div[2]/div[3]/a/span')
search_btn

In [25]:
search_btn.click()

In [26]:
# Extracting Brand Name
brand_tags = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand_tags)

50

In [27]:
brand_names = []

for i in brand_tags:
    brand_names.append(i.text)
len(brand_names)

50

In [29]:
# Extracting Product Description

description_tags = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(description_tags)

50

In [30]:
description_prd = []

for i in description_tags:
    description_prd.append(i.text)
len(description_prd)

50

In [31]:
description_prd[0:100]

['Men Running Shoes',
 'Men Magnify Nitro Running',
 'Men Mid-Top Chelsea Boots',
 'Men Leather Flat Boots',
 'Women Leather Heeled Boots',
 'Men Colourblocked PU Sneakers',
 'Men Textured Leather High-Top Flat Boots',
 'Men Running Shoes',
 'High-Top Block Heeled Boots',
 'Women Charged Impulse Shft',
 'Men Solid Leather Formal Derbys',
 'Suede High-Top Flatform Heeled Boots',
 'Men Leather Flat Boots',
 'Women Charged Breathe CLR SFT',
 'Men Textured Leather Loafers',
 'Men Leather Chelsea Boots',
 'Women Leather High-Top Flat Boots',
 'Men Formal Leather Derby',
 'Leather Platform Heeled Boots',
 'Women Leather Pumps',
 'Women Velocity NITRO Runners',
 'Women Magnify Nitro Shoes',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Textured Leather Loafers',
 'Men Running Shoes',
 'Men Black Leather Loafers',
 'Men Leather Loafers',
 'Women Solid Leather Pumps',
 'Women Solid Leather Pumps',
 'Ustraa black',
 'Men Formal Leather Slip-Ons',
 'Men Leather Driving Shoes',
 'Men Textured Leather Loafers',
 'Men Textured Formal Leather Loafers',
 'Men Textured Formal Leather Loafers',
 'Women Open Toe Flats',
 'Women Solid Leather Ballerinas',
 'Women Solid Leather Ballerinas',
 'Men Leather Formal Derbys',
 'Men Solid Leather Formal Loafers',
 'Leather Wedge Heeled Boots with Buckles',
 'Leather Block Heeled Boots',
 'Leather Kitten Heeled Boots',
 'Leather Block Heeled Boots with Bows',
 'Suede Party High-Top Block Heeled Boots',
 'Textured Leather Party Kitten Heeled Boots',
 'Leather Boots with Buckles',
 'Woman Black Leather Boots',
 'Embellished Leather Block Heeled Boots']

In [52]:
# Extracting Price

price_tags = driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
len(price_tags)

24

In [47]:
brand_price = []

for i in price_tags:
    brand_price.append(i.text)
len(brand_price)

24

In [48]:
brand_price[0:100]

['Rs. 12999',
 'Rs. 12999',
 'Rs. 10900',
 'Rs. 9999',
 'Rs. 14900',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 13500',
 'Rs. 11999',
 'Rs. 11900',
 'Rs. 14999',
 'Rs. 10900',
 'Rs. 10999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 14900',
 'Rs. 9500',
 'Rs. 9900',
 'Rs. 13900',
 'Rs. 10500',
 'Rs. 13900',
 'Rs. 10500',
 'Rs. 12500',
 'Rs. 12900']

In [62]:
len(brand_names), len(description_prd)

(50, 50)

In [63]:
#creating a dataframe
 
shoes = pd.DataFrame()
shoes['Brand Name'] = brand_names
shoes['Description'] = description_prd
shoes

              Brand Name                                 Description
0                   Puma                           Men Running Shoes
1                   Puma                   Men Magnify Nitro Running
2                Saint G                   Men Mid-Top Chelsea Boots
3            RARE RABBIT                      Men Leather Flat Boots
4                Saint G                  Women Leather Heeled Boots
5                  ASICS               Men Colourblocked PU Sneakers
6                Bugatti    Men Textured Leather High-Top Flat Boots
7                Bugatti                           Men Running Shoes
8                Nautica                 High-Top Block Heeled Boots
9           UNDER ARMOUR                  Women Charged Impulse Shft
10              DAVINCHI             Men Solid Leather Formal Derbys
11               Saint G        Suede High-Top Flatform Heeled Boots
12                  Geox                      Men Leather Flat Boots
13          UNDER ARMOUR               Women Charged Breathe CLR SFT
14             J.FONTINI                Men Textured Leather Loafers
15               Saint G                   Men Leather Chelsea Boots
16                  Geox           Women Leather High-Top Flat Boots
17  Heel & Buckle London                    Men Formal Leather Derby
18               Saint G               Leather Platform Heeled Boots
19                  Geox                         Women Leather Pumps
20                  Puma                Women Velocity NITRO Runners
21                  Puma                   Women Magnify Nitro Shoes
22              Columbia              PEAKFREAK OUTDRY Trekking Shoe
23             Cole Haan         Men GENERATION ZEROGRAND STITCHLITE
24             J.FONTINI                Men Textured Leather Loafers
25                  Xtep                           Men Running Shoes
26             J.FONTINI                   Men Black Leather Loafers
27                  Geox                         Men Leather Loafers
28                  Geox                   Women Solid Leather Pumps
29                  Geox                   Women Solid Leather Pumps
30              DAVINCHI                                Ustraa black
31              DAVINCHI                 Men Formal Leather Slip-Ons
32        Pavers England                   Men Leather Driving Shoes
33        Pavers England                Men Textured Leather Loafers
34              DAVINCHI         Men Textured Formal Leather Loafers
35              DAVINCHI         Men Textured Formal Leather Loafers
36             Cole Haan                        Women Open Toe Flats
37                  Geox              Women Solid Leather Ballerinas
38             Cole Haan              Women Solid Leather Ballerinas
39                  Geox                   Men Leather Formal Derbys
40                Clarks            Men Solid Leather Formal Loafers
41               Saint G     Leather Wedge Heeled Boots with Buckles
42               Saint G                  Leather Block Heeled Boots
43               Saint G                 Leather Kitten Heeled Boots
44               Saint G        Leather Block Heeled Boots with Bows
45               Saint G     Suede Party High-Top Block Heeled Boots
46               Saint G  Textured Leather Party Kitten Heeled Boots
47               Saint G                  Leather Boots with Buckles
48               Saint G                   Woman Black Leather Boots
49               Saint G      Embellished Leather Block Heeled Boots

# Question8

In [64]:
# scrape first 10 laptops data Using Filters

In [8]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [9]:
# Let's first connect to webdriver
driver = webdriver.Chrome(r'C:\Users\K K SHARMA\Downloads\Chromedriver_win32\Chromedriver')

In [10]:
url ='https://www.amazon.in/'
driver.get(url)

In [11]:
# Finding web element for search product bar using id
search_prd = driver.find_element_by_id("twotabsearchtextbox")
search_prd

In [12]:
# write on Search bar
search_prd.send_keys("laptop")

In [13]:
# Clicking using absolute X Path function 
search_btn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search_btn

In [14]:
search_btn.click()

In [15]:
# # SCRAPING PRODUCT TITLES

title_tags = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(title_tags)

25

In [16]:
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="33ab5b36427a421b1a4d3c89d97ce29b", element="cc7ce277-3ef6-401b-a144-63fdb1491f41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ab5b36427a421b1a4d3c89d97ce29b", element="87f391d8-9dd3-48d0-8bed-cdaf0ada6f83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ab5b36427a421b1a4d3c89d97ce29b", element="01ef1f29-5f61-4c63-adcd-d5b50ff816ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ab5b36427a421b1a4d3c89d97ce29b", element="bd224d9d-09b6-41dd-be44-a5985701669b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ab5b36427a421b1a4d3c89d97ce29b", element="325251a8-7c0f-4919-848e-4f3e6ce9bb23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ab5b36427a421b1a4d3c89d97ce29b", element="345d9c0d-163e-46e7-851f-ee2bd64d9700")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ab5b36427a421b1a4d3c89d97ce29b", element="70204449-5897-4843-8bf4-c3b2472876ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ab5b36427a421b1a4d3c89d97ce29b", element="e8f36fb1-c8d5-40a6-ba43-8b69975db7bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ab5b36427a421b1a4d3c89d97ce29b", element="e7a95dc2-e130-4b18-ae58-8b10e75855ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ab5b36427a421b1a4d3c89d97ce29b", element="f2f2bed9-037f-4f85-b489-34148e9df7c3")>]

In [17]:
prd_titles = []

for i in title_tags:
    prd_titles.append(i.text)
len(prd_titles)
prd_titles[0:10]

['Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HEB-HN248T',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/Gray/2 kg), FX516PC-HN063T',
 'HP Pavilion 14, Intel 11th Gen Core i7 16GB RAM/1TB SSD 14-inch Laptop, FHD Micro-Edge Anti-Glare Display/Iris Xᵉ Graphics/Backlit KB/B&O Audio/Fingerprint Reader/ Win 11 Ready/1.41kg, 14-dv0058TU',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)',
 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Eclipse Gray/2 kg), FX516PE-HN088TS',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF']

In [18]:
# Extracting Product Ratings

prd_ratings = driver.find_elements_by_xpath('//i[@class="a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom"]')
len(prd_ratings)

13

In [19]:
ratings = []

for i in prd_ratings:
    ratings.append(i.text)
len(ratings)

13

In [20]:
ratings[0:10]

['', '', '', '', '', '', '', '', '', '']

In [21]:
# Extracting Price

price_tags = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(price_tags)

23

In [22]:
brand_price = []

for i in price_tags:
    brand_price.append(i.text)
len(brand_price)

23

In [23]:
brand_price[0:10]

['94,719',
 '89,990',
 '59,990',
 '96,990',
 '79,990',
 '82,990',
 '94,719',
 '95,990',
 '57,990',
 '85,990']

In [24]:
len(prd_titles), len(ratings), len(brand_price)

(25, 13, 23)

In [25]:
#creating a dataframe
 
laptop = pd.DataFrame()
laptop['Product Titles'] = prd_titles
laptop['Ratings'] = ratings
laptop['Brand Price'] = brand_price
laptop

ValueError: Length of values (13) does not match length of index (25)

# Question9

In [26]:
# python program to scrape data for first 10 job results for Data Scientist Designation in Noida location

In [27]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [28]:
# Let's first connect to webdriver
driver = webdriver.Chrome(r'C:\Users\K K SHARMA\Downloads\Chromedriver_win32\Chromedriver')

In [29]:
url ='https://www.ambitionbox.com/'
driver.get(url)

In [58]:
# Finding web element for search Job bar using id
search_job = driver.find_element_by_name("ab_jobsSearch")
search_job

In [59]:
# write on Search bar
search_job.send_keys("Data Scientists")

In [60]:
# Clicking using absolute X Path function 
search_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search_btn

In [61]:
search_btn.click()

In [62]:
# Finding Web Element for search locn bar using Absolute X Path
search_locn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_locn

In [63]:
# find web element for job location bar
search_locn.send_keys("Noida")

In [64]:
# Clicking using absolute X Path function 
search_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div/div/label')
search_btn

In [65]:
search_btn.click()

In [70]:
# SCRAPING JOB TITLES

title_tags = driver.find_elements_by_xpath('//h2[@class="desig bold-title"]')
len(title_tags)

1

In [71]:
title_tags[0:10]

In [72]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Developers, Data Scientists, Web Designers, Android Developers']

In [73]:
# Extracting Company Names

company_tags = driver.find_elements_by_xpath('//h3[@class="company-wrap"]')
len(company_tags)

1

In [74]:
company_tags[0:10]

In [75]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

1

In [76]:
company_names[0:10]

['Cogmac Technologies']

In [77]:
len(job_titles), len(company_names)

(1, 1)

In [78]:
# Making DataFrame

jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_names
jobs

                                           Job Title              Company
0  Developers, Data Scientists, Web Designers, An...  Cogmac Technologies

# Question10

In [79]:
# Python program to scrape the salary data for Data Scientist designation

In [114]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [115]:
# Let's first connect to webdriver
driver = webdriver.Chrome(r'C:\Users\K K SHARMA\Downloads\Chromedriver_win32\Chromedriver')

In [116]:
url ='https://www.ambitionbox.com/'
driver.get(url)

In [123]:
# Finding web element for search Job bar using id
search_job = driver.find_element_by_id("jobProfileSearchbox")
search_job

In [124]:
# write on Search bar
search_job.send_keys("Data Scientist")

In [125]:
# Clicking using absolute X Path function 
search_btn = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]')
search_btn

In [127]:
search_btn.click()

In [133]:
# Extracting Company Names

company_name = driver.find_elements_by_xpath("//div[@class='name']/a")
len(company_tags)

1